{% extends "base.html" %}
{% block title %}Peça ajuda{% endblock title %}
{% block conteudo %}
<div class="container-fluid bg-danger d-flex justify-content-center align-items-center py-5">
    <h1 style="font-size: 3.4em;" class="text-white text-center">Você ou um parente possui alguma IST?</h1>
</div>

<div class="container-fluid py-4">
    <div class="container">
      <h1 class="text-center text-danger">Ninguém está sozinho. Nem você.</h1>
      <p class="py-3" style="font-size: 1.2em;">
        Se você está passando por um momento difícil em relação à sua saúde sexual ou enfrentando preocupações sobre doenças sexualmente transmissíveis (DSTs), saiba que você não está sozinho. Infecções como HIV, sífilis, gonorreia, HPV e outras podem afetar tanto a saúde física quanto o bem-estar emocional, mas é importante lembrar que existe ajuda disponível. Reconhecer que precisa de apoio é um primeiro passo corajoso e fundamental para proteger sua saúde e iniciar o tratamento adequado.
      </p>
      <h4 class="text-danger">Por quê buscar ajuda profissional?</h4>
      <p class="py-2" style="font-size: 1.2em;">
        Buscar ajuda quando há preocupações sobre doenças sexualmente transmissíveis é essencial para garantir um diagnóstico correto e iniciar o tratamento apropriado. Consultar um profissional de saúde pode não apenas aliviar sintomas, mas também prevenir complicações graves e proteger outras pessoas da transmissão.
      </p>
      <h4 class="text-danger">Lembre-se, a recuperação é possível.</h4>
      <p class="py-2" style="font-size: 1.2em;">
        Reconhecer que precisa de ajuda e procurar apoio são passos importantes para o diagnóstico e tratamento eficaz de qualquer DST. Não tenha medo de conversar com alguém de confiança ou buscar um profissional capacitado para orientá-lo. Com o tratamento correto e suporte adequado, é possível recuperar a saúde e melhorar sua qualidade de vida.
      </p>
    </div>
  </div>


{% endblock conteudo %}
